@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply text-2xl cursor-pointer hover:text-purple-500;
  }

  .letter {
    @apply h-14 w-14 sm:h-14 sm:w-14 md:h-16 md:w-16 uppercase text-lg border flex items-center justify-center border-slate-400;
  }

  .buttonLetter {
    @apply flex items-center justify-center rounded-2xl mx-0.5 text-xs font-bold cursor-pointer select-none bg-gray-300 dark:text-black hover:bg-purple-500;
  }
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11),
        0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}
