@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply text-2xl cursor-pointer hover:text-purple-200 dark:hover:text-blue-200;
  }

  .letter {
    @apply font-bold transition duration-150 rounded h-12 w-12 sm:h-14 sm:w-14 md:h-16 md:w-16 lg:h-20 lg:w-20 uppercase text-lg border border-dashed flex items-center justify-center border-slate-300 dark:border-slate-700;
  }
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11),
        0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }

    .delay1 {
      transition-delay: 100ms;
    }

    .delay2 {
      transition-delay: 200ms;
    }

    .delay3 {
      transition-delay: 300ms;
    }

    .delay4 {
      transition-delay: 400ms;
    }

    .delay5 {
      transition-delay: 500ms;
    }
  }
}
